/FirstEJBApplication/nbproject/private/
/FirstEJBApplication/FirstEJBApplication-war/nbproject/private/
/FirstEJBApplication/FirstEJBApplication-ejb/nbproject/private/
/FirstEJBApplication/FirstEJBApplication-ejb/build/
/FirstEJBApplication/FirstEJBApplication-ejb/dist/
/FirstEJBApplication/FirstEJBApplication-war/build/
/FirstEJBApplication/dist/
/FirstEJBApplication/build/
/FirstEJBApplication/FirstEJBApplication-war/dist/